html, body {
    height: 100%;
}
.full-height {
    height: 100%;
}
.btn-delete-custom{
    background-color:#a0bdca !important;
    color: white !important
}
.btn-update-custom {
    border: 1px solid #d3d3d3;
    background-color:#e22525 !important;
    color: white !important
}

.leaflet-container {
    width: 100%;
    height: 100vh;
}

.login-background{
    height: 700px;
    background: url("/images/bus_background.jpg") no-repeat center center;;
}

#loginbox{
    color:white;
    border: 1px solid #696969;
    height:500px;
    padding:12px;
    border-radius: 12px;
    background-color: #000000a1;
}

#deviceDetailTable tr td{
    padding: 16px
}